{% extends "base.html" %}
{% block title %}Nuevo cliente · Bufete{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="mb-3">Nuevo Cliente</h5>
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="row g-3">
        <div class="col-md-6">{{ form.nombre_completo.label_tag }} {{ form.nombre_completo }}</div>
        <div class="col-md-6">{{ form.rut.label_tag }} {{ form.rut }}</div>
        <div class="col-md-6">{{ form.correo.label_tag }} {{ form.correo }}</div>
        <div class="col-md-6">{{ form.telefono.label_tag }} {{ form.telefono }}</div>
        <div class="col-12">{{ form.direccion.label_tag }} {{ form.direccion }}</div>
        <div class="col-12">{{ form.notas.label_tag }} {{ form.notas }}</div>
        <div class="col-12 form-check">
          {{ form.es_sensible }} {{ form.es_sensible.label_tag }}
        </div>
      </div>
      <div class="d-flex gap-2 mt-3">
        <a href="{% url 'clients:listar' %}" class="btn btn-outline-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
